:root {

    color-scheme: dark;

    --color-gray-1: #737373ff;
    --color-gray-2: #656565ff;
    --color-gray-3: #575757ff;
    --color-gray-4: #474747ff;
    --color-gray-5: #363636ff;
    --color-gray-6: #2f2f2fff;
    --color-gray-7: #1f1f1fff;
    --color-red-1: #ffcdcdff;
    --color-red-2: #ff7f7fff;
    --color-red-3: #ff4242ff;
    --color-red-4: #fe0000ff;
    --color-red-5: #ba1b1bff;
    --color-red-6: #822c2cff;
    --color-red-7: #523232ff;
    --color-yellow-1: #ffeecdff;
    --color-yellow-2: #ffd580ff;
    --color-yellow-3: #ffc042ff;
    --color-yellow-4: #ffaa00ff;
    --color-yellow-5: #bc881cff;
    --color-yellow-6: #82652cff;
    --color-yellow-7: #524832ff;
    --color-green-1: #ccffccff;
    --color-green-2: #7fff7fff;
    --color-green-3: #43ff43ff;
    --color-green-4: #00fd00ff;
    --color-green-5: #1cb91cff;
    --color-green-6: #2c812cff;
    --color-green-7: #325232ff;
    --color-blue-1: #cce5ffff;
    --color-blue-2: #7fbfffff;
    --color-blue-3: #42a0ffff;
    --color-blue-4: #007ffeff;
    --color-blue-5: #1b6bbbff;
    --color-blue-6: #2c5781ff;
    --color-blue-7: #324253ff;

    --theme-background-color: var(--color-gray-7);
    --theme-foreground-color: var(--color-gray-6);
    --theme-foreground-color-hover: var(--color-gray-5);

    --accent-color: var(--color-blue-4);
    --accent-color-hover: var(--color-blue-3);
    --accent-color-active: var(--color-blue-5);

    --outline-color-normal: var(--accent-color);
    --outline-color-critical: var(--color-red-2);

    --font-color-primary: rgba(255, 255, 255, 0.9);
    --font-color-secondary: rgba(255, 255, 255, 0.7);
    --font-color-tertiary: rgba(255, 255, 255, 0.5);

    --button-normal-foreground-color: var(--font-color-primary);
    --button-normal-background-color: var(--color-gray-3);
    --button-normal-foreground-color-hover: var(--font-color-primary);
    --button-normal-background-color-hover: var(--color-gray-2);
    --button-normal-foreground-color-active: var(--font-color-primary);
    --button-normal-background-color-active: var(--color-gray-4);
    --button-disabled-foreground-color: var(--font-color-tertiary);
    --button-disabled-background-color: transparent;
    --button-flat-foreground-color: var(--font-color-primary);
    --button-flat-background-color: transparent;
    --button-flat-foreground-color-hover: var(--font-color-primary);
    --button-flat-background-color-hover: var(--color-gray-2);
    --button-flat-foreground-color-active: var(--font-color-primary);
    --button-flat-background-color-active: var(--color-gray-4);
    --button-suggested-foreground-color: var(--font-color-primary);
    --button-suggested-background-color: var(--accent-color);
    --button-suggested-foreground-color-hover: var(--font-color-primary);
    --button-suggested-background-color-hover: var(--accent-color-hover);
    --button-suggested-foreground-color-active: var(--font-color-primary);
    --button-suggested-background-color-active: var(--accent-color-active);
    --button-suggested-outline-color: var(--button-suggested-foreground-color);
    --button-critical-foreground-color: var(--color-red-2);
    --button-critical-background-color: var(--color-red-7);
    --button-critical-foreground-color-hover: var(--color-red-1);
    --button-critical-background-color-hover: var(--color-red-5);
    --button-critical-foreground-color-active: var(--color-red-1);
    --button-critical-background-color-active: var(--color-red-6);
    --button-critical-outline-color: var(--button-critical-foreground-color);

    --toggle-foreground-color-unchecked: var(--font-color-primary);
    --toggle-background-color-unchecked: var(--color-gray-3);
    --toggle-foreground-color-checked: var(--font-color-primary);
    --toggle-background-color-checked: var(--accent-color);

    --radio-border-color-unchecked: var(--color-gray-1);
    --radio-foreground-color-unchecked: transparent;
    --radio-background-color-unchecked: transparent;
    --radio-border-color-checked: transparent;
    --radio-foreground-color-checked: var(--font-color-primary);
    --radio-background-color-checked: var(--accent-color);

    --checkbox-border-color-unchecked: var(--color-gray-1);
    --checkbox-foreground-color-unchecked: transparent;
    --checkbox-background-color-unchecked: transparent;
    --checkbox-border-color-checked: transparent;
    --checkbox-foreground-color-checked: var(--font-color-primary);
    --checkbox-background-color-checked: var(--accent-color);

    --toast-normal-border-color: var(--color-gray-1);
    --toast-normal-foreground-color: var(--font-color-primary);
    --toast-normal-background-color: var(--theme-foreground-color);
    --toast-normal-background-color-hover: var(--theme-foreground-color-hover);
    --toast-info-border-color: var(--color-blue-2);
    --toast-info-foreground-color: var(--color-blue-1);
    --toast-info-background-color: var(--color-blue-7);
    --toast-info-background-color-hover: var(--color-blue-6);
    --toast-success-border-color: var(--color-green-2);
    --toast-success-foreground-color: var(--color-green-1);
    --toast-success-background-color: var(--color-green-7);
    --toast-success-background-color-hover: var(--color-green-6);
    --toast-warning-border-color: var(--color-yellow-2);
    --toast-warning-foreground-color: var(--color-yellow-1);
    --toast-warning-background-color: var(--color-yellow-7);
    --toast-warning-background-color-hover: var(--color-yellow-6);
    --toast-error-border-color: var(--color-red-2);
    --toast-error-foreground-color: var(--color-red-1);
    --toast-error-background-color: var(--color-red-7);
    --toast-error-background-color-hover: var(--color-red-6);

}