.dialog {

    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    inset: 0;
    padding: var(--whitespace-normal);
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(var(--blur-normal));
    animation: dialog--open var(--transition-time-slow) ease forwards;
    z-index: var(--dialog-z-index);

}

@keyframes dialog--open {

    0% { opacity: 0; }
    100% { opacity: 1; }

}

.dialog--closed {

    animation: dialog--closed var(--transition-time-slow) ease forwards;

}

@keyframes dialog--closed {

    0% { opacity: 1; }
    100% { opacity: 0; }

}

.dialog__content {

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

}

.dialog__box {

    overflow: auto;
    border-radius: var(--border-radius-large);
    background-color: var(--theme-foreground-color);
    animation: dialog__box var(--transition-time-slow) ease forwards;

}

@keyframes dialog__box {

    0% { transform: scale(0.9); }
    100% { transform: scale(1.0); }

}

.dialog__message {

    display: flex;
    flex-direction: column;
    gap: var(--whitespace-normal);
    padding: var(--whitespace-normal);

}

.dialog__label {

    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);

}

.dialog__actions {

    padding: var(--whitespace-normal);
    border-top: 1px solid var(--theme-background-color);

}